# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Conda or virtual environments
.env
.env/
.venv/
env/
venv/
ENV/
*.egg-info/

# Ignore Virtual Documents
.virtual_documents/

